<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/community_layout}">
<link rel="stylesheet" type="text/css" th:href="@{/css/noticeAll.css}" />
<script th:src="@{js/recipe/commuComment.js}"></script>
<script th:src="@{js/communityFormcheck.js}"></script>
<!-- content -->
<th:block layout:fragment="content">
	<div class="row my-5" id="global-content">
		<div class="col-10 offset-1">
			<form name="checkForm" id="checkForm">
				<input type="hidden" name="no" id="no" th:value="${community.no}" />
			</form>
			<div class="row text-center">
				<div class="col">
					<h2 class="fs-3 fw-bold">요리자랑</h2>
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<table class="table">
						<tbody>
							<tr>
								<th class="table-secondary">제 목</th>
								<td colspan="3" th:text="${community.title}"></td>
							</tr>
							<tr>
								<th>작성자</th>
								<td th:text="${community.writer}"></td>
								<th>작성일</th>
								<td>[[${ #dates.format(community.regDate, 'yyyy-MM-dd
									HH:mm') }]]</td>
							</tr>
							<tr>
								<th>조회수</th>
								<td th:text="${community.readCount}"></td>
								<th>파&nbsp;&nbsp;&nbsp;&nbsp;일</th>
								<td colspan="3"><th:block
										th:if="${ not #strings.isEmpty(community.file1) }">
										<a th:href="@{|fileDownload?fileName=${community.file1}|}">
											[[ ${community.file1} ]] </a>
									</th:block> <th:block
										th:unless="${ not #strings.isEmpty(community.file1) }">
											첨부파일 없음
										</th:block></td>
							</tr>
							<td colspan="4">
								<div style="white-space: pre-wrap;"
									th:text="${community.content}"></div>
							</td>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row my-3">
				<div class="col text-center">
					<button class="write-button" type="button"
						id="communityDetailUpdate">수정하기</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="write-button" type="button"
						id="communityDetailDelete">삭제하기</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="write-button" type="button"
						onclick="location.href='communityList'">목록보기</button>
				</div>
			</div>
			<!-- 댓글폼 -->
			<div class="row my-4 cook-comments" id="sectionComment">
				<div class="col-3"></div>
				<div class="col-6">
					<h3 class="text-center fw-bold">댓글 리스트</h3>
				</div>
				<div
					class="col-3 text-end text-white d-flex justify-content-end align-items-center">
					<button type="button" class="btn btn-success" id="commentBtn">맨
						위로</button>
				</div>
			</div>
			<div id="reviewSection">
				<div class="mb-4">
					<div class="review-write">
						<div class="row">
							<div class="col">
								<h5 class="comment-title">후기 작성</h5>
							</div>
						</div>
					</div>
					<div class="comment-body">
						<form id="commuCommentForm" method="post">
							</div>
							<div class="comment-input-section">
								<div
									class="row d-flex justify-content-between align-items-center my-2">
									<div class="col-10">
										<textarea class="form-control" id="commentContent"
											name="commentContent" rows="2" required></textarea>
									</div>
									<div class="col-2">
										<button type="submit" class="write-button-comment"
											style="height: 60px;">후기 작성하기</button>
									</div>
								</div>
							</div>
						</form>
					</div>
			
			<!-- 댓글 리스트 -->
			<div class="review-write">
				<div class="row">
					<div class="col-6">
						<h5 class="comment-lists">후기 리스트</h5>
					</div>
					<div class="col-6 text-end">
					</div>
				</div>
			</div>
			<div class="card-body">
				<ul class="list-group" id="commentList">
					<!-- 댓글 아이템 -->
					<th:block th:if="${not #lists.isEmpty(commentList)}">
						<th:block th:each="comment : ${commentList}">
							<li class="list-group-item my-2"
								th:data-comment-id="${comment.commentId}">
								<div class="d-flex justify-content-between">
									<div>
										<p class="mb-1">
											<strong>[[${comment.memberId}]]</strong>
										</p>
										<p class="mb-1 comment-content">[[${comment.commentContent}]]</p>
										<span class="text-muted" name="createdAt"
											th:text="${#dates.format(comment.createdAt, 'yyyy-MM-dd')}"></span>
										<div class="star-icons">
											<th:block th:if="${comment.commentPoint > 0}">
												<th:block
													th:each="star : ${#numbers.sequence(1, comment.commentPoint)}">
													<i class="bi bi-star-fill"></i>
												</th:block>
											</th:block>
											<th:block th:if="${comment.commentPoint < 5}">
												<th:block
													th:each="star : ${#numbers.sequence(comment.commentPoint + 1, 5)}">
													<i class="bi bi-star"></i>
												</th:block>
											</th:block>
										</div>
									</div>
									<div>
										<th:block
											th:if="${session.member != null and session.member.id != null and comment.memberId != null and session.member.id == comment.memberId}">
											<button class="comment-edit btn-sm"
												onclick="editComment(this)">수정</button>
											<button class="comment-delete btn-sm"
												onclick="deleteComment(this)">삭제</button>
										</th:block>
									</div>
								</div>
							</li>
						</th:block>
					</th:block>
					<!-- 댓글이 없는 경우 -->
					<th:block th:if="${#lists.isEmpty(commentList)}">
						<span class="list-group-item2 my-2" id="falseText">후기가 존재하지
							않습니다.😅</span>
					</th:block>
					<!-- 더 많은 댓글 아이템들 -->
				</ul>
			</div>
			<!-- 댓글폼마무리 -->
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>
