<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/community_layout}">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/noticeAll.css}" />
</head>

<body>
	<th:block layout:fragment="content">
		<div id="global-content">
			<div class="notice-header text-center">
				<h2>커뮤니티</h2>
			</div>

			<div class="d-flex justify-content-between">
				<input type="button" class="write-button" value="커뮤니티 채팅방" id="chat2">
				<a th:href="@{addCommunityBoard}" class="write-button">커뮤니티 글쓰기</a>
			</div>

			<div class="notice-table-wrapper">
				<table class="notice-table">
					<thead>
						<tr>
							<th>번&nbsp;호</th>
							<th class="notice-title text-center">제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목</th>
							<th>작성일</th>
							<th>조회수</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${not #lists.isEmpty(commuList)}">
						    <tr th:each="commu, status : ${commuList}">
						        <td th:text="${commu.no}"></td>
						        <td class="notice-title">
						            <a th:href="@{communityDetail(no=${commu.no})}" th:text="${commu.title}"></a>
						        </td>
						        <td th:text="${#dates.format(commu.regDate, 'yyyy-MM-dd')}"></td>
						        <td th:text="${commu.readCount}"></td>
						    </tr>
						</th:block>
						<th:block th:unless="${not #lists.isEmpty(commuList)}">
							<tr>
								<td colspan="4" class="no-notices">게시글이 존재하지 않습니다😅</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>

		</div>
	</th:block>
</body>
</html>
<script th:inline="javascript">
$("#chat2").on("click", function() {
	// 세션에서 사용자 ID 가져오기
	let userId = [[${ session.member.id }]];

	let url = "chatmessage2";

	let _wi = 1500;
	let _he = 900;
	let left = Math.ceil((window.innerWidth - _wi) / 2);
	let top = Math.ceil((window.innerHeight - _he) / 2);

	// URL에 사용자 ID 추가
	url += "?userId=" + encodeURIComponent(userId);

	// 새 창 열기
	window.open(url, "_blank", "toolbar=no, location=no, status=no, menubar=no, width=" + _wi + ", height=" + _he + ", left=" + left + ", top=" + top);
});

</script>