<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/community_layout}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/noticeAll.css}" />
<!-- content -->
<div layout:fragment="content" class="row my-5" id="global-content">
	<div class="col-10 offset-1">
		<div class="row text-center">
			<div class="col">
				<h2 class="fs-3 fw-bold">공지사항 수정</h2>
			</div>
		</div>
		<form name="communityUpdateForm" action="/communityUpdate" id="communityUpdateForm"
			class="row g-3 border-primary" method="post">
			<input type="hidden" name="no" th:value="${community.no}" />

			<div class="col-4 offset-md-2">
				<label for="writer" class="form-label">작성자</label> <input
					type="text" class="form-control" name="writer" id="writer"
					th:value="${community.writer}" readonly>
			</div>
			<div class="col-4 offset-md-2">
			
			</div>
			<div class="col-8 offset-md-2">
				<label for="title" class="form-label">제 목</label> <input type="text"
					class="form-control" name="title" id="title"
					th:value="${community.title}">
			</div>
			<div class="col-8 offset-md-2">
				<label for="content" class="form-label">내 용</label>
				<textarea class="form-control" name="content" id="content" rows="10">[[ ${community.content} ]]</textarea>
			</div>
			<div class="col-8 offset-md-2">
					<label for="addFile" class="form-label">파일 업로드</label>
					<input type="file" class="form-control" name="addFile" id="addFile">
				</div>
			<div class="col-8 offset-md-2 text-center mt-5">
				<input type="submit" value="수정하기" class="write-button" />
				&nbsp;&nbsp;<input type="button" value="목록보기"
					th:onclick="location.href='/communityList'" class="write-button" />
			</div>
		</form>
	</div>
</div>
</html>
