<!-- 페이지 파일(shopOrder.html) -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/shop_layout}">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>주문 및 결제</title>
</head>

<body>
	<!-- content -->
	<div layout:fragment="content">
		<div class="row">
			<div class="col">
				<h1>주문 및 결제</h1>
			</div>
		</div>

		<!-- 구매자 정보 -->
		<div class="row">
			<div class="col">구매자 정보</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table">
					<tr>
						<td>이름</td>
						<td th:text="${member != null ? member.name : '정보 없음'}"></td>
					</tr>
					<tr>
						<td>이메일</td>
						<td th:text="${member != null ? member.email : '정보 없음'}"
							id="memberEmail"></td>
					</tr>
					<tr>
						<td>연락처</td>
						<td th:text="${member != null ? member.mobile : '정보 없음'}"></td>
					</tr>
				</table>
			</div>
		</div>

		<!-- 받는사람 정보 -->
		<div class="row">
			<div class="col">받는 사람 정보</div>
		</div>
		<div class="row">
			<div class="col">
				<table class="table">
					<tr>
						<td>이름</td>
						<td th:text="${member != null ? member.name : '정보 없음'}"></td>
					</tr>
					<tr>
						<td>주소</td>
						<td th:text="${member != null ? member.address1 : '정보 없음'}"></td>
					</tr>
					<tr>
						<td>연락처</td>
						<td th:text="${member != null ? member.mobile : '정보 없음'}"></td>
					</tr>
					<tr>
						<td>배송 요청 사항</td>
						<td>*</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- 상품 정보 -->
		<div class="row">
			<div class="col">주문 상품 정보</div>
		</div>
		<div class="row">
			<div class="col-8">
				<table class="table">

					<tbody>
						<!-- 단일 상품 정보 -->
						<tr th:if="${cart != null}">
							<td>이미지 들어갈자리</td>
							<td th:text="${cart.ingredient}"></td>
							<td th:text="${cart.price}" class="price"></td>
							<!-- 수량조절 가져오기 -->
							<td>
								<div class="order-quantity-input-container">
									<div class="order-quantity-input-minus">-</div>
									<input class="order-quantity-input" type="text"
										th:value="${cart.quantity}" />
									<div class="order-quantity-input-plus">+</div>
								</div>
							</td>
						</tr>

						<!-- 장바구니 목록 -->
						<tr th:if="${cartDetails != null}" th:each="item : ${cartDetails}">
							<td>이미지 들어갈자리</td>
							<td th:text="${item.ingredient}"></td>
							<td th:text="${item.price}" class="price"></td>
							<td>
								<!-- 수량조절 가져오기 -->
								<div class="order-quantity-input-container">
									<div class="order-quantity-input-minus">-</div>
									<input class="order-quantity-input" type="text"
										th:value="${item.quantity}" />
									<div class="order-quantity-input-plus">+</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-4 orderBox">
				<div class="">
					<h2>주문 예상 금액</h2>
					<div>
						상품 총액: <span id="totalProductPrice" class="price"
							th:data-price="0"></span>
					</div>
					<div>
						할인 총액: <span id="totalDiscountPrice" th:data-price="0">0</span> 원
					</div>
					<div>
						배송 총액: <span id="totalDeliveryPrice" th:data-price="0">0</span> 원
					</div>
				</div>
				<div>
					합계금액: <span id="totalOrderPrice" class="price" th:data-price="0"></span>
				</div>

			</div>
		</div>


		<!-- 결제하기 버튼 -->
		<button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
	</div>


</body>
</html>
