<!DOCTYPE html>
<!--쇼핑몰 상세보기 담당자 -이현학 -->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/shop_layout}">

<!-- content -->
<div layout:fragment="content">
    <!-- 상세 정보 페이지 -->
    <div class="row my-3" >
        <div class="col-6">
            <th:block th:if="${product.productImage}">
                <img th:src="${product.productImage}" alt="Product Image">
            </th:block>
            <th:block th:unless="${product.productImage}">
                <img src="http://via.placeholder.com/500x400"
                    alt="Placeholder Image">
            </th:block>
        </div>
        <div class="col-6">
            <!-- 상품 정보 -->
            <div class="row">
                <div class="col">
                    <h3 class=productName th:text="${product.ingredient}"></h3>
                    <h5>맛있는 고당도 사과</h5>
                  	<p class="product-origin">원산지: <span th:text="${product.origin}"></span></p>
					<div class="shipping-info">
						<table>
							<tr>
								<th>배송정보</th>
								<td>택배배송 <span class="delivery-info-icon">?</span>
								</td>
							</tr>
							<tr>
								<th>배송비</th>
								<td>무료</td>
							</tr>
						</table>
					</div>
					<p id="productPrice" th:data-price="${product.price}"></p>
                </div>
            </div>

            <!-- 사이즈 선택 -->
            <div class="row">
                <div class="col"></div>
            </div>



			<div class="quantity-control-box">
				<p class="small-ingredient" th:text="${product.ingredient}"></p>
				
				<!-- 수량 조절 버튼 -->
				<div class="row d-flex justify-content-between">
					<div class="col">
						<div class="detail-quantity-control-wrapper">
							<div class="detail-quantity-input-container">
								<button class="detail-quantity-input-minus">-</button>
								<input class="detail-quantity-input" type="text" value="1"
									readonly />
								<button class="detail-quantity-input-plus">+</button>
							</div>
							<button class="detail-resetQuantity">X</button>
						</div>
					</div>
				</div>
			</div>

			<hr class="order-divider">
			<div class="row">
				<div class="col">
					<p class="order-total-title">
						주문금액: <span id="detail-totalPrice"></span>
					</p>
				</div>
			</div>


			<!-- 장바구니 및 결제 -->
            <div class="row">
                <div class="col">
					<form id="productForm" method="post">
						<input type="hidden" name="productId"
							th:value="${product.productId}"> <input type="hidden"
							name="quantity" id="cartQuantity" value="1">
						<div class="button-container">
							<button type="button" id="addCart">장바구니</button>
							<button type="button" id="orderNow">바로결제</button>
						</div>
					</form>
				</div>
            </div>
        </div>
    </div>
</div>
</html>
