<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">

<body>
	<!-- content -->
	<div layout:fragment="content">
		<form>
			<input type="hidden" id="boardNo" th:value="${rList.boardNo}" name="boardNo">
			<input type="hidden" id="cookingId" th:value="${cookingId}" name="cookingId">
			<input type="hidden" id="bookCount" th:value="${bookCount}" name="bookCount">
	</form>
		<div class="row">
			<div class="col">
				<!--머리-->
				<div class="row">
					<div class="col">
						<h1 class="text-center" th:text="${rList.foodName}"></h1>
					</div>
				</div>
				<!--이미지 삽입-->
				<div class="row bg">
				
			</div><!--이미지 마지막div-->
			</div>
			<!--버튼-->
				
			<div class="row text-center my-5">
				<div class="col ">
					<input class="btn btn-primary" type="button" id="reviewBtn" value="리뷰보기">
				</div>
				<div class="col">
					<input class="btn btn-primary" type="button" id="meterBtn" value="재료보기">
				</div>
				<div class="col">
					<input class="btn btn-primary" type="button" id="bookBtn" value="레시피보기(책)">
				</div>
				<div class="col">
					<input class="btn btn-primary" type="button" id="listBtn" value="레시피보기(리스트)">
				</div>
			</div>
		</div><!--시작-->
	</div>
	</div>
	
</body>

</html>