<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootstudy.app.mapper.CommuCommentMapper">
	 <!--댓글리스트 불러오기  -->
	    <select id="commuCommentList" parameterType="int" resultType="commuComment">
  SELECT 
            cm.* ,
            cu.member_id
        FROM 
            commuComment cm
        JOIN 
            community cu 
        ON 
            cm.no = cu.no 
        WHERE 
            cm.no = #{no} order by commuComment_id DESC
	</select>
	<!-- 댓글 갯수불러오기 -->
	    <select id="commuCommentCount" parameterType="int" resultType="int">
  SELECT 
            count(*) 
        FROM 
            commuComment cm
        JOIN 
             community cu 
        ON 
            cm.no = cu.no 
        WHERE 
            cm.no = #{no}
	</select>
	<!-- 댓글추가하기 -->
	 <insert id="insertCommuComment" parameterType="CommuComment" useGeneratedKeys="true"  keyProperty="commuCommentId">
		INSERT INTO commuComment (no, commuComment_content, created_at,member_Id)
        VALUES (#{no}, #{commuCommentContent}, NOW(),#{memberId})
	</insert>
	<!-- 댓글수정하기 -->
	<update id="updateCommuComment" parameterType="CommuComment" useGeneratedKeys="true">
    UPDATE commuComment 
    SET commuComment_content = #{commuCommentContent},  created_at = NOW()
    WHERE commuComment_id = #{commuCommentId}
</update>
<!-- 특정댓글불러오기 -->
 <select id="selectCommuCommentById" parameterType="int" >
        SELECT * FROM commuComment WHERE commuComment_id = #{commuCommentId}
    </select>
    <!-- 댓글삭제하기 -->
    <delete id="deleteCommuComment" parameterType="int" >
    	delete from commuComment where commuComment_id = ${commuCommentId}
    </delete>
    <!-- 댓글삭제하기 -->
    <delete id="deleteCommuCommentByNo" parameterType="int" >
    	delete from commuComment where no = ${no};
    </delete>
</mapper>
