<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootstudy.app.mapper.CommentMapper">
	 <!--댓글리스트 불러오기  -->
	    <select id="commentList" parameterType="int" resultType="com.springbootstudy.app.domain.Comment">
  SELECT 
            cm.* ,
            rb.member_id
        FROM 
            comments cm
        JOIN 
            recipe_board rb 
        ON 
            cm.board_no = rb.board_no 
        WHERE 
            cm.board_no = #{boardNo} order by comment_id DESC
	</select>
	<!-- 댓글 갯수불러오기 -->
	    <select id="commentCount" parameterType="int" resultType="int">
  SELECT 
            count(*) 
        FROM 
            comments cm
        JOIN 
            recipe_board rb 
        ON 
            cm.board_no = rb.board_no 
        WHERE 
            cm.board_no = #{boardNo}
	</select>
	<!-- 댓글추가하기 -->
	 <insert id="insertComment" parameterType="Comment" useGeneratedKeys="true"  keyProperty="commentId">
		INSERT INTO comments (board_no, comment_content, comment_point, created_at,member_Id)
        VALUES (#{boardNo}, #{commentContent}, #{commentPoint}, NOW(),#{memberId})
	</insert>
	<!-- 댓글수정하기 -->
	<update id="updateComment" parameterType="Comment" useGeneratedKeys="true">
    UPDATE comments 
    SET comment_content = #{commentContent}, comment_Point = #{commentPoint}, created_at = NOW()
    WHERE comment_id = #{commentId}
</update>
<!-- 특정댓글불러오기 -->
 <select id="selectCommentById" parameterType="int" resultType="Comment">
        SELECT * FROM comments WHERE comment_id = #{commentId}
    </select>
    <!-- 댓글삭제하기 -->
    <delete id="deleteComment" parameterType="int" >
    	delete from comments where comment_id = ${commentId}
    </delete>
    <!-- 댓글삭제하기 -->
    <delete id="deleteCommentByNo" parameterType="int" >
    	delete from comments where board_No = ${boardNo};
    </delete>
</mapper>
