<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springbootstudy.app.mapper.EventBoardMapper">
    
    <resultMap type="EventBoard" id="EventBoardResultMap">
    	<id property='no' column="no" />
    	<result property="title" column="title" />
    	<result property="writer" column="writer" />
    	<result property="content" column="content" />
    	<result property="regDate" column="reg_date" />
    	<result property="readCount" column="read_count" />
    	<result property="pass" column="pass" />
    	<result property="file1" column="file1" />
    </resultMap>

	
	<!-- 게시글 리스트 -->
    <select id="eventBoardList" resultType="EventBoard" resultMap="EventBoardResultMap">
        SELECT * FROM eventboard ORDER BY no DESC
    </select>

    <select id="getEventBoard" resultType="EventBoard" resultMap="EventBoardResultMap">
        SELECT * FROM eventboard WHERE no = #{no}
    </select>

    <insert id="addEventBoard" parameterType="EventBoard">
        INSERT INTO eventboard (title, writer, content, reg_date, read_count, pass, file1)
        VALUES (#{title}, #{writer}, #{content}, NOW(), #{readCount}, #{pass}, #{file1})
    </insert>

    <update id="updateEventBoard" parameterType="EventBoard">
        UPDATE eventboard
        SET title = #{title}, writer = #{writer}, content = #{content},
            <!-- reg_date = #{regDate} --> read_count = #{readCount}, pass = #{pass}, file1 = #{file1}
        WHERE no = #{no}
    </update>
    
    <update id="incrementReadCount">
    	UPDATE eventboard
    	SET read_count = read_count + 1
    	WHERE no = #{no}
    </update>

    <delete id="deleteEventBoard" parameterType="int">
        DELETE FROM eventboard WHERE no = #{no}
    </delete>
    
</mapper>
