<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 상품매퍼 담당자 - 이현학 -->
<mapper namespace="com.springbootstudy.app.mapper.ProductMapper">
	<select id="findAll" resultType="Product">
		Select * from product;
	</select>

	<select id="findById" resultType="Product">
		SELECT * FROM product
		WHERE
		product_id = #{productId}
	</select>

	<select id="findByCategory" resultType="Product">
		Select *, product_id From
		product
		Where category = #{category}
	</select>

	<insert id="insertCart" useGeneratedKeys="true"
		keyProperty="cartId">
		insert into cart (quantity, product_id)
		values
		(#{quantity}, #{productId})
	</insert>

	<select id="getCartByProductId" resultType="Cart">
		SELECT * FROM cart WHERE product_id = #{productId} LIMIT 1
	</select>

	<update id="updateCart">
		UPDATE cart SET quantity = #{quantity} WHERE cart_id = #{cartId}
	</update>

	<select id="getCartDetails"
		resultType="com.springbootstudy.app.dto.CartProductDTO">
		SELECT c.cart_id AS cartId, c.product_id AS productId, p.ingredient,
		c.quantity, p.price
		FROM cart c
		JOIN product p ON c.product_id = p.product_id
	</select>

	<select id="getCartDetailsById"
		resultType="com.springbootstudy.app.dto.CartProductDTO">
		SELECT c.cart_id AS cartId, c.product_id AS productId, p.ingredient,
		c.quantity, p.price
		FROM cart c
		JOIN product p ON c.product_id = p.product_id
		WHERE c.product_id = #{productId}
	</select>

	<insert id="insertOrder" useGeneratedKeys="true"
		keyProperty="orderId">
		insert into cart (payment, order_Request)
		values
		(#{payment}, #{;productId})
	</insert>

	<delete id="deleteCartByProductId">
		DELETE FROM cart WHERE product_id = #{productId}
	</delete>



	<resultMap id="productResultMap"
		type="com.springbootstudy.app.domain.Product">
		<id property="productId" column="product_id" />
		<result property="price" column="price" />
		<result property="productImage" column="product_image" />
		<result property="seller" column="seller" />
		<result property="origin" column="origin" />
		<result property="size" column="size" />
		<result property="category" column="category" />
		<result property="ingredient" column="ingredient" />
		<result property="expirationDate" column="expiration_date" />
	</resultMap>

	<resultMap id="cartResultMap"
		type="com.springbootstudy.app.domain.Cart">
		<id property="cartId" column="cart_id"></id>
		<result property="quantity" column="quantity"></result>
		<result property="productId" column="product_id"></result>
	</resultMap>

	<resultMap id="orderResultMap"
		type="com.springbootstudy.app.domain.Order">
		<id property="orderId" column="order_id"></id>
		<result property="orderDate" column="order_date"></result>
		<result property="payment" column="payment"></result>
		<result property="orderRequest" column="order_request"></result>
	</resultMap>



</mapper>
