
/* 상품 리스트 */
 .searchResultBox {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.searchResultBox:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.searchResultBox img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.searchResultBox div {
    margin-bottom: 5px;
}

.searchResultBox div:nth-child(2) {
    font-weight: bold;
    font-size: 1.1em;
}

.searchResultBox div:last-child {
    color: #e74c3c;
    font-weight: bold;
}

/* 상품리스트 내 링크스타일 제거 */
.searchResultBox a,
.searchResultBox a:hover,
.searchResultBox a:visited,
.searchResultBox a:active {
    color: inherit;
    text-decoration: none;
} 

.product-description {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 4.5em; /* 세 줄 높이에 맞게 설정 */
            line-height: 1.5em; /* 줄 간격 설정 */
        }