 * .carousel-item {
	height: 360px;
	background-size: cover;
	background-position: center;
}
/*
.carousel-caption{
	position :absolute;
	top: 20px;
	left: -500px;
	font-size: 42px !important;
}

.carousel-control {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 10;
	background-color: white;
	color : black;
	padding: 10px;
	border-radius: 20px;
}
 
.carousel-control-prev, .carousel-control-next {
                width: 50px;
                height: 50px;
                background-color: #fff; 버튼 배경색
                border-radius: 50%;
                color: black;
	           	display:flex;
	           	align-items: center;
	           	justify-content: center;
	                    
       }
  .carousel-control-prev-icon, .carousel-control-next-icon {
                filter: invert(1); 화살표 색상을 검정으로 변경 
            }      
          
         
      */