<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<script type="text/javascript" src="js/member.js"></script>

<!-- content -->
<div layout:fragment="content" class="row my-3" id="join-content">
	<div class="col">
		<div class="row my-3 text-center">
			<!-- <div class="col">
				<img src="./images/youcandoeat.png"
					style="width: 60px;">
			</div> -->
		</div>
		<div class="row my-3 text-center">
			<div class="col">
				<h2 class="fs-3 fw-bold" style="color:#FF914D;">YOU CAN DO EAT</h2>
				<h2 class="fs-3 fw-bold">통합 회원가입</h2>
			</div>
		</div>
		<hr class="border border-black border-2 opacit-50">
		 <form action="joinResult" name="joinForm" method="post" id="joinForm" enctype="multipart/form-data">
            <input type="hidden" name="isIdCheck" id="isIdCheck" value="false" />

			<div class="row name-birth justify-content-center">
				<div class="col-md-4">
					<div class="form-group">
						<label for="name">* 이름 :</label>
						<input type="text"
							class="form-control" id="name" required>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="birth">* 생일 :</label>
						<input type="date"
							class="form-control" id="birth" required>
					</div>
				</div>
			</div>

			<div class="row my-3">
				<div class="col-md-4 offset-md-2">
					<label for="userId" class="form-label">* 아이디 : </label>
					<div class="row">
						<div class="col-md-11">
							<input type="text" class="form-control" name="id" id="id">
						</div>
						<div class="col-md-1">
							<input type="button" class="join-form-button" id="btnOverlapId"
								value="중복확인">
						</div>
					</div>
					<div id="message" class="mt-3"></div>
				</div>
			</div>


			<div class="row pass-pass justify-content-center">
				<div class="col-md-4">
					<div class="form-group">
						<label for="pass1" class="form-label">* 비밀번호 : </label> <input
							type="password" class="form-control" name="pass" id="pass1">
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="pass2" class="form-label">* 비밀번호 확인 : </label> <input
							type="password" class="form-control" name="pass2" id="pass2">
						<div style="height: 24px;">
							<div class="invalid-feedback" id="passwordcheck"
								style="display: none;">비밀번호를 확인해주세요.</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-4 offset-2 mt-3">
				<label for="file1" class="form-label">프로필 사진 : </label> <input
					type="file" class="form-control" name="profileImage" id="file1">
			</div>

			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="zipcode" class="form-label">* 우편번호 : </label>
					<div class="row">
						<div class="col-6">
							<input type="text" class="form-control" name="zipcode"
								id="zipcode" maxlength="5" readonly>
						</div>
						<div class="col-4">
							<input type="button" class="join-form-button" id="btnZipcode"
								value="우편번호 찾기">
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-4 offset-2">
					<label for="address1" class="form-label">* 자택주소 : </label> <input
						type="text" class="form-control" name="address1" id="address1"
						readonly>
				</div>
				<div class="col-4">
					<label for="address2" class="form-label">상세주소 : </label> <input
						type="text" class="form-control" name="address2" id="address2">
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="emailId" class="form-label">* 이 메 일 : </label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control" name="emailId"
								id="emailId">
						</div>
						@
						<div class="col-md-4">
							<input type="text" class="form-control" name="emailDomain"
								id="emailDomain">
						</div>
						<div class="col-md-3">
							<select class="form-select" name="selectDomain" id="selectDomain">
								<option>직접입력</option>
								<option>네이버</option>
								<option>다음</option>
								<option>구글</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-6 offset-2">
					<label for="mobile2" class="form-label">* 휴 대 폰 : </label>
					<div class="row">
						<div class="col-md-3">
							<select class="form-select" name="mobile1" id="mobile1">
								<option>010</option>
								<option>011</option>
								<option>016</option>
								<option>017</option>
								<option>018</option>
								<option>019</option>
							</select>
						</div>
						-
						<div class="col-md-3">
							<input type="text" class="form-control" name="mobile2"
								id="mobile2" maxlength="4">
						</div>
						-
						<div class="col-md-3">
							<input type="text" class="form-control" name="mobile3"
								id="mobile3" maxlength="4">
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2 agree-mail">
					<label class="form-label">메일 수신여부 : </label>
					<div class="row">
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="emailGet1"
									id="emailOk" value="true"> <label
									class="form-check-label" for="emailOk">동의함</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="emailGet2"
									id="emailNo" value="false"> <label
									class="form-check-label" for="emailNo">동의하지 않음</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-8 offset-2 agree-inform">
					<label class="form-label ">개인정보 수집 및 이용 동의 : </label>
					<div class="row">
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="gerdonalGet1"
									id="emailOk" value="true"> <label
									class="form-check-label" for="emailOk">동의함</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="gerdonalGet2"
									id="emailNo" value="false"> <label
									class="form-check-label" for="emailNo">동의하지 않음</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		  	<div class="btn-groups text-center">
    			<input type="submit" value="가입하기" class="join-submit-button" id="memberShipwriter">
    			<input type="reset" value="다시쓰기" class="join-form-button" id="reset">
    			<button type="button" class="join-form-button" onclick="history.back()">돌아가기</button>
			</div>
		</form>
	</div>
</div>
</html>