<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/user_layout}">

<div layout:fragment="content" class="row" id="global-content">
	<div class="col">
		<h2>탈퇴 하시겠습니까? (탈퇴 후 정보는 복구되지 않습니다.)</h2>
			<label for="pass1" class="form-label">* 기존 비밀번호 : </label>
			<input type="password" class="form-control" name="oldPass" id="oldPass">
			<input type="button" value="탈퇴하기" class="btn btn-secondary" id="btnjoindelete">
	</div>
</div>
</html>