<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<script type="text/javascript" src="js/member.js"></script>
<script src="js/memberupdate.js"></script>

<!-- content -->
<div layout:fragment="content" class="row my-5" id="global-content">
	<div class="col">
		<div class="row my-3 text-center">
		<!-- 	<div class="col">
				<img src="./images/youcandoeat.png"
					style="width: 100px;">
			</div> -->
		</div>
		<div class="row my-3 text-center">
			<div class="col">
				<h2 class="fs-3 fw-bold" style="color:#FF914D;">YOU CAN DO EAT</h2>
				<h2 class="fs-3 fw-bold">회원 정보 수정</h2>
			</div>
		</div>
		<hr class="border border-black border-2 opacit-50">
		<form action="memberUpdateResult" name="memberUpdateForm" method="post" id="memberUpdateForm" enctype="multipart/form-data">
			<input type="hidden" name="isIdCheck" id="isIdCheck" value="false" />
			
			<div class="row name-birth justify-content-center">
				<div class="col-md-4">
					<div class="form-group">
					<label for="name" class="form-label">* 이 름 : </label> <input
						type="text" class="form-control" name="name" id="name" style="background-color:lightgray;"
								th:value="${session.member.name}" readonly>
				</div>
			</div>
			<div class="col-md-4">
					<div class="form-group">
					<label for="name" class="form-label">* 생 일 : </label> <input
						type="text" class="form-control" name="birthdate" id="birthdate" style="background-color:lightgray;"
						th:value="${session.member.birthdate}" readonly>
					</div>
				</div>
			</div>
			
			<div class="row my-3">
				<div class="col-md-4 offset-md-2">
					<label for="userId" class="form-label">* 아이디 : </label>
					<div class="row">
						<div class="col-md-12">	
							<input type="text" class="form-control" name="id" id="id" style="background-color:lightgray;"
								th:value="${session.member.id}" readonly>
						</div>
					</div>
					<div id="message" class="mt-3"></div>
				</div>
			</div>
			
			
			<div class="col-4 offset-2">
			    <label for="profile" class="form-label">프로필 사진 : </label>
			    <input type="file" class="form-control" name="profileImage" id="profile" th:attr="data-preview-image=#{'preview'}">
			    <img id="preview" alt="프로필 사진 미리보기" class="img-fluid mt-2" style="max-width: 100%; max-height: 300px;">
			</div>
			
			
			
			
			<div class="row my-3">
				<div class="col-3 offset-2">
					<label for="pass1" class="form-label">* 기존 비밀번호 : </label> <input
						type="password" class="form-control" name="oldPass" id="oldPass">
				</div>
				<div class="col-4">
					<input type="button" class="btn btn-success" id="btnPassCheck" value="비밀번호 변경" />
				</div>
				<div class="row">
					<div class="col " id="oldPassComment">
					</div>
					<div class="col " id="someContainer">
					</div>
				</div>
				<!--/* 숨긴 폼 영역 비밀번호 변경 */-->
			<div class="rew my-3 d-none" id="passUpdateForm">
			<div class="col">
			<div class="row my-3">
				<div class="col-5 offset-2">
					<label for="pass1" class="form-label">* 새 비밀번호 : </label>
					<input type="password" class="form-control" name="pass1" id="pass1">					
				</div>
			</div>
			<div class="row my-3">
				<div class="col-5 offset-2">
					<label for="pass2" class="form-label">* 새 비밀번호 확인 : </label>
					<input type="password" class="form-control" name="pass2" id="pass2">
				</div>
			</div>
			</div>
			</div>
				
				
					
			</div>
			<div class="row my-3">
				<div class="col-5 offset-2">
					<label for="zipcode" class="form-label">* 우편번호 : </label>
					<div class="row">
						<div class="col-4">
							<input type="text" class="form-control" name="zipcode"
								id="zipcode" maxlength="5" th:value="${session.member.zipcode}" readonly>
						</div>
						<div class="col-4">
							<input type="button" class="btn btn-success" id="btnZipcode"
								value="우편번호 찾기">
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-3 offset-2">
					<label for="address1" class="form-label">* 자택주소 : </label> <input
						type="text" class="form-control" name="address1" id="address1"
						th:value="${session.member.address1}" readonly>
				</div>
				<div class="col-3">
					<label for="address2" class="form-label">상세주소 : </label> <input
						type="text" class="form-control" name="address2" id="address2"
						>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for="emailId" class="form-label">* 이 메 일 : </label>
					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control" name="emailId"
								id="emailId" th:value="${#strings.setSplit(session.member.email, '@')[0]}">
						</div>
						@
						<div class="col-md-4">
							<input type="text" class="form-control" name="emailDomain"
								id="emailDomain" th:value="${#strings.setSplit(session.member.email, '@')[1]}">
						</div>
						<div class="col-md-3">
							<select class="form-select" name="selectDomain" id="selectDomain">
								<option>직접입력</option>
								<option>네이버</option>
								<option>다음</option>
								<option>구글</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-4 offset-2">
					<label for="mobile2" class="form-label">* 휴 대 폰 : </label>
					<div class="row">
						<div class="col-md-3">
							<select class="form-select" name="mobile1" id="mobile1">
								<option>010</option>
								<option>011</option>
								<option>016</option>
								<option>017</option>
								<option>018</option>
								<option>019</option>
							</select>
						</div>
						-
						<div class="col-md-4">
							<input type="text" class="form-control" name="mobile2"
								id="mobile2" maxlength="4" th:value="${#strings.listSplit(session.member.mobile, '-')[1]}">
						</div>
						-
						<div class="col-md-4">
							<input type="text" class="form-control" name="mobile3"
								id="mobile3" maxlength="4" th:value="${#strings.listSplit(session.member.mobile, '-')[2]}">
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label class="form-label">메일 수신여부 : </label>
					<div class="row">
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="emailGet"
									id="emailOk" value="true" th:checked="${session.member.emailGet == 1}"> <label
									class="form-check-label" for="emailOk">동의</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="emailGet"
									id="emailNo" value="false"> <label
									class="form-check-label" for="emailNo">동의안함</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-8 offset-2">
					<label class="form-label">개인정보 수정 : </label>
					<div class="row">
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="gerdonalGet"
									id="emailOk" value="true"> <label
									class="form-check-label" for="emailOk">동의</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="gerdonalGet"
									id="emailNo" value="false"> <label
									class="form-check-label" for="emailNo">동의안함</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mb-3 mt-5">
				<div class="col-8 offset-5">
					<input type="submit" value="수정하기" class="btn btn-secondary">
				</div>
			</div>
		</form>
		<form action="delete" name="delete" method="post" id="delete" enctype="multipart/form-data">
		<div class="row my-3">
			<div class="col-5 offset-2">
				<label for="userId" class="form-label">* YouCanDoEat 회원탈퇴 하시겠습니까?</label>
				<div class="row">
					<div class="col-5">		
						<input type="text" class="form-control" style="background-color:lightgray;"
							th:value="${session.member.id}" readonly>
						<input type="submit" value="탈퇴하기" class="btn btn-secondary offset-2" id="btnjoindelete">
					</div>
				</div>
				<div id="message" class="mt-3"></div>
			</div>
		</div>
		</form>
	</div>
</div>
</html>