<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">

<div layout:fragment="content" class="row" id="login-content">
	<div class="col">
		<form class="my-5 new-login-form" id="loginForm" action="login" method="post">
			<div class="row text-center">
				<div class="col">
					<img src="./images/youcandoeat.png"
						style="width: 100px;" class="new-login-logo">
				</div>
			</div>
			<div class="">
				<div class="col-md-12">
					<label for="validationServerUsername" class="form-label"></label>
					<div class="input-group has-validation">
						<span class="input-group-text">&nbsp;아이디&nbsp;</span>
						<input type="text"
								class="form-control form-floating is-invalid" id="userId"
								name="userId" required>
						<div id="please1" class="invalid-feedback">아이디를 입력해주세요.</div>
					</div>
				</div>

			
				<div class="col-md-12">
					<label for="validationServerPass" class="form-label"></label>
					<div class="input-group has-validation">
						<span class="input-group-text">비밀번호</span>
						<input type="password"
								class="form-control form-floating is-invalid" id="userPass"
								name="pass" required>
					<div class="invalid-feedback" id="please2">비밀번호를 입력해주세요.</div>
					</div>
				</div>
			</div>
			
			<input type="submit" value="로그인" id="btnLogin"	class="login-button" />
			<a href="/membership" class="signup-button">회원가입</a>
			

		</form>
	</div>
</div>
</html>
