<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/member_layout}">

<!-- content -->
 <div layout:fragment="content" class="row my-5" id="mypage-content">
      <div class="col my-0">
    <h2 class="text-center mb-4 my-title">마이페이지</h2>
    <form action="chatmessage" name="chatmessage" method="post" id="chatmessage" enctype="multipart/form-data">
      <article>
        <div class="inpo">
          <div class="profile-container">
            <img th:if="${not #strings.isEmpty(session.member.profile)}"
                 th:src="@{|/resources/profiles/${session.member.profile}|}"
                 class="profile-image" alt="프로필 이미지">
            <img th:unless="${not #strings.isEmpty(session.member.profile)}"
                 th:src="@{/images/YouCanDoEat.png}" class="profile-image"
                 alt="기본 프로필 이미지">
          </div>
          <h3 class="profile-id text-center" th:text="${session.member.id}"></h3>
          <!-- <p id="id" name="id">[[${session.member.id}]]</p> -->
          <div class="edit-btns text-center d-flex justify-content-center">
            <button class="edit-button mx-2"><a class="edit-link" href="/memberUpdateForm">회원정보 수정</a></button>
            <button class="edit-button mx-2"><a class="edit-link" href="#">장바구니</a></button>
             <input type="button" class="edit-button mx-2" id="chat" value="1:1 문의">
          </div>
        </div>
      </article>
    </form>
  </div>
  </div>
</body>
</html>
	
	<script>
 let test01 = 'hi';
</script>
<script th:inline="javascript">
$("#chat").on("click", function() {
	// 세션에서 사용자 ID 가져오기
	let userId = [[${ session.member.id }]];

	let url = "chatmessage";

	let _wi = 1000;
	let _he = 580;
	let left = Math.ceil((window.innerWidth - _wi) / 2);
	let top = Math.ceil((window.innerHeight - _he) / 2);

	// URL에 사용자 ID 추가
	url += "?userId=" + encodeURIComponent(userId);

	// 새 창 열기
	window.open(url, "_blank", "toolbar=no, location=no, status=no, menubar=no, width=" + _wi + ", height=" + _he + ", left=" + left + ", top=" + top);
});

</script>	
</div>

</html>
	
		