<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/member_layout}">

<!-- content -->
<div layout:fragment="content" class="row my-5" id="global-content">
	<div class="col my-0">
		<form action="chatmessage" name="chatmessage" method="post" id="chatmessage" enctype="multipart/form-data">
			<article>
	            <div class="inpo">
	                <dt>
	                	<img th:if="${not #strings.isEmpty(session.member.profile)}" th:src="@{|/resources/profiles/${session.member.profile}|}" 
	        				style="width: 50px; height: 50px; border-radius: 50%;">
	    				<img th:unless="${not #strings.isEmpty(session.member.profile)}" th:src="@{images/YouCanDoEat.png}" 
	         				style="width: 50px; height: 50px; border-radius: 50%;"></dt>
	                <dd id="id" name="id">[[${session.member.id}]]</dd>
	                <dd><a href="/memberUpdateForm">회원정보 수정</a></dd>
	                <dd><a href="#">장바구니</a></dd>
	            </div>
		    </article>
	    	<input type="button" class="btn btn-success" id="chat" value="chat">
	    </form>
	</div>
	<script>
 let test01 = 'hi';
</script>
<script th:inline="javascript">
$("#chat").on("click", function() {
	// 세션에서 사용자 ID 가져오기
	let userId = [[${ session.member.id }]];

	let url = "chatmessage";

	let _wi = 1000;
	let _he = 580;
	let left = Math.ceil((window.innerWidth - _wi) / 2);
	let top = Math.ceil((window.innerHeight - _he) / 2);

	// URL에 사용자 ID 추가
	url += "?userId=" + encodeURIComponent(userId);

	// 새 창 열기
	window.open(url, "_blank", "toolbar=no, location=no, status=no, menubar=no, width=" + _wi + ", height=" + _he + ", left=" + left + ", top=" + top);
});

</script>	
</div>

</html>
	
		