<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/notice_layout}">
<link rel="stylesheet" type="text/css" th:href="@{/css/noticeAll.css}" />
<script th:src="@{js/noticeFormcheck.js}"></script>

<!--/* content */-->
<th:block layout:fragment="content">
		<div id="global-content">
			<div class="notice-header text-center">
				<h2>공지사항</h2>
			</div>
			<form name="noticeWriteForm" action="addNoticeBoard"
				id="noticeWriteForm" class="row g-3 border-primary" method="post"
				enctype="multipart/form-data">
				<div class="col-4 offset-md-2">
							<label for="writer" class="form-label">글쓴이</label>
							<input type="text" class="form-control" name="writer" id="writer" 
								placeholder="작성자를 입력해 주세요">
						</div>
						<div class="col-4 ">
							<label for="pass" class="form-label">비밀번호</label>
							<input type="password" class="form-control" name="pass" id="pass" >
						</div>
				<div class="col-8 offset-md-2 noticeWrite">
					<label for="title" class="form-label noticeWrite">제&nbsp;&nbsp;&nbsp;&nbsp; 목</label> <input
						type="text" class="form-control form-input" name="title"
						id="title">
				</div>
				<div class="col-8 offset-md-2 noticeWrite">
					<label for="content" class="form-label noticeWrite">내&nbsp;&nbsp;&nbsp;&nbsp; 용</label>
					<textarea class="form-control form-input" name="content"
						id="content" rows="10"></textarea>
				</div>
				<div class="col-8 offset-md-2">
					<label for="addFile" class="form-label">파일 업로드</label>
					<input type="file" class="form-control" name="addFile" id="addFile">
				</div>
				<div class="col-8 offset-md-2 text-center mt-5">
					<input type="submit" value="등록하기" class="write-button" />
					&nbsp;&nbsp;<input type="button" value="목록보기"
						onclick="location.href='noticeList'" class="write-button" />
				</div>
			</form>
		</div>
</th:block>
</html>
