<!DOCTYPE html>
<!--쇼핑몰 메인 담당자 -이현학 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/shop_layout}">

<!-- content -->
<div layout:fragment="content">
	
	<div class="row my-3">
		<div class="col-12">
			<!--캐러셀 -->
			<div class="row">
				<div class="col">
					<div id="shopEvent" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active" data-bs-interval="5000" style="background-image: url('http://via.placeholder.com/1300x360'); background-size: cover;">
								<div class="carousel-caption">
									Carousel#01								
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="5000" style="background-image: url('http://via.placeholder.com/1300x360'); background-size: cover;">
								<div class="carousel-caption">
									carousel#2
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="5000" style="background-image: url('http://via.placeholder.com/1300x360'); background-size: cover;">
								<div class="carousel-caption">
									carousel#3
								</div>
							</div>
						</div>
						
						<button class="carousel-control-prev" type="button" data-bs-target="#shopEvent" data-bs-slide="prev">
							<span class="carousel-control-prev-icon " aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#shopEvent" data-bs-slide="next">
							<span class="carousel-control-next-icon " aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
						
						<div class="carousel-control">
							<span id="pauseBtn" >||</span>
							<span id="carouselStatus">1/3</span>
						</div>
					</div>
				</div>
			</div>
			<!-- end 캐러셀 -->

			<!-- 카테고리바 -->
		    <div class="row">
                    <div class="col btn" data-category="fruits">과일</div>
                    <div class="col btn" data-category="vegetables">야채</div>
                    <div class="col btn" data-category="meat">정육</div>
                    <div class="col btn" data-category="seafood">해산물</div>
            </div>

			<!-- end 카테고리바 -->

			<!-- 상품그리드 3*2 -->
			<div class="row" id="productGrid">
			</div>
			<!-- end 상품그리드 -->

			<!-- 레시피 연동 -->
			<div class="row">
				<div class="col"></div>
			</div>
			<!--end 레시피 연동 -->
		</div>
	</div>
</div>