<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/notice_layout}">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/noticeAll.css}" />
</head>

<body>
	<th:block layout:fragment="content">
		<div id="global-content">
			<div class="notice-header text-center">
				<h2>공지사항</h2>
			</div>

			<th:block
				th:if="${session.member != null and session.member.id == 'admin1'}">
				<div class="text-end">
					<a th:href="@{addNoticeBoard}" class="write-button">공지 글쓰기</a>
				</div>
			</th:block>


			<div class="notice-table-wrapper">
				<table class="notice-table">
					<thead>
						<tr>
							<th>번&nbsp;호</th>
							<th class="notice-title text-center">제&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;목</th>
							<th>작성일</th>
							<th>조회수</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${not #lists.isEmpty(noticeList)}">
							<tr th:each="notice, status: ${noticeList}">
								<td th:text="${notice.no}"></td>
								<td class="notice-title"><a
									th:href="@{noticeDetail(no=${notice.no})}"
									th:text="${notice.title}"></a></td>
								<td th:text="${#dates.format(notice.regDate, 'yyyy-MM-dd')}"></td>
								<td th:text="${notice.readCount}"></td>
							</tr>
						</th:block>
						<th:block th:unless="${not #lists.isEmpty(noticeList)}">
							<tr>
								<td colspan="4" class="no-notices">공지사항이 존재하지 않습니다😅</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>

		</div>
	</th:block>
</body>
</html>