<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/notice_layout}">
<link rel="stylesheet" type="text/css" th:href="@{/css/noticeAll.css}" />
<script th:src="@{js/noticeFormcheck.js}"></script>

<!--/* content */-->
<th:block layout:fragment="content">
		<div id="global-content">
			<div class="notice-header text-center">
				<h2 class="fs-3 fw-bold">공지사항</h2>
			</div>
			
			<form name="noticeWriteForm" action="addNoticeBoard"
				id="noticeWriteForm" class="row g-3 border-primary" method="post"
				enctype="multipart/form-data">
			 	  <!-- 숨겨진 작성자 필드 -->
                <input type="hidden" name="writer" id="writer" value="admin1" />
                <!-- 숨겨진 비밀번호 필드 -->
                <input type="hidden" name="pass" id="pass" value="1234" />
				<div class="col-8 offset-md-2 noticeWrite">
					<label for="title" class="form-label noticeWrite">제&nbsp;&nbsp;&nbsp;&nbsp; 목</label> <input
						type="text" class="form-control form-input" name="title"
						id="title">
				</div>
				<div class="col-8 offset-md-2 noticeWrite">
					<label for="content" class="form-label noticeWrite">내&nbsp;&nbsp;&nbsp;&nbsp; 용</label>
					<textarea class="form-control form-input" name="content"
						id="content" rows="10"></textarea>
				</div>
				<div class="col-8 offset-md-2">
					<label for="addFile" class="form-label">파일 업로드</label>
					<input type="file" class="form-control" name="addFile" id="addFile">
				</div>
				<div class="col-8 offset-md-2 text-center mt-5">
					<input type="submit" value="등록하기" class="write-button" />
					&nbsp;&nbsp;<input type="button" value="목록보기"
						onclick="location.href='noticeList'" class="write-button" />
				</div>
			</form>
		</div>
</th:block>
</html>
