div.headerTop2 {
	width: auto;
	height: 8px;
	background-color: #93B665;
	margin-bottom: 10px;
}

.chat-container {
	max-width: 600px;
	padding: 20px;
}

.chat-messages {
	height: 300px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

.message {
	margin-bottom: 10px;
}

.card-text{
	color:#333;
}
#my {
	float: right;
}

#me {
	/* background-color: #93B665; */
	border:2px solid #93B665;
}

#you {
	float: left;
}

#your {
	/* background-color: gray; */
	border:2px solid gray;
	color: black;
}

.msg_box {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
}

h2 {
	text-align: center;
}

#chatMessages {
	width: 1150px;
	height: 700px
}

#btn-send {
	width: 100px;
	padding: 0.5rem 1rem;
	background-color: transparent;
	color: #93B665;
	border: 1px solid #93B665;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease;
	cursor: pointer;
}

#btn-send:hover {
	background-color: #93B665;
	color: white;
}

#send-form {
	margin-bottom: 0;
}

#messageInput {
	border-radius: 5px 0 0 5px;
}

#btn-send {
	border-radius: 0 5px 5px 0;
}