#join-content {
    max-width: 1200px;
    margin: 0 auto;
}

.name-birth {
    margin-bottom: 1rem;
	padding-top: 10px;
}

.name-form, .birth-form {
    margin-bottom: 1rem;
}


.name-id-input {
    width: 100%;
    max-width: 200px; /* 또는 원하는 너비로 조정 */
}

@media (max-width: 768px) {
    .name-birth > .col-md-10 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* 새로 추가된 클래스 */


.join-submit-button {
    background-color: #FCF9F5;;
    color: #333;
    border: 1px solid #FF914D;
    border-radius: 4px;
  	padding: 5px 7px 5px 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.join-submit-button:hover {
    background-color: #FF914D;;
    color: #fff;
    border: 1px solid #FF914D;
    border-radius: 4px;
    padding: 5px 7px 5px 7px;
    cursor: pointer;
}

.join-form-button {
    background-color: #FCF9F5;
    color: #333;
    border: 1px solid #7a8577;
    border-radius: 4px;
  	padding: 5px 7px 5px 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.join-form-button:hover {
    background-color: #7a8577;
    color: #fff;
    border: 1px solid #7a8577;
    border-radius: 4px;
    padding: 5px 7px 5px 7px;
    cursor: pointer;
}

.btn-groups {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-groups input,
.btn-groups button {
    margin: 0 10px; /* 양쪽에 10px의 margin을 줍니다. 필요에 따라 조절 가능합니다. */
}

.agree-inform, .agree-mail{
	/* border: 1px solid silver;
	border-radius: 3px; */
	margin-bottom: 15px;
}


/* 회원가입 프로필이미지사이즈 */	
.preview-container {
		height: 200px;
		background-color: #f8f9fa;
		border-radius: 4px;
		overflow: hidden;
	}
	.circular-preview {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #e9ecef;
		border: 2px solid #ced4da;
	}
	#preview {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s ease;
	}