/* Recipe Book View Styles */
.page {
    font-family: 'Noto Sans KR', sans-serif;
    margin-top: 60px !important;
}

/* 구체적인 선택자 사용 및 !important 추가 */
.page .row.border.my-2.recipe-description {
    width: 95% !important;
    max-width: 95% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* 설명 텍스트 스타일 조정 */
.page .row.border.my-2.recipe-description p {
    margin-bottom: 0 !important; /* 단락 아래 마진 제거 */
    line-height: 1.4 !important; /* 줄 간격 조정 */
}

.page .row.border.my-2.recipe-description .col.text-center {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    padding: 5px !important;
}

.recipe-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}

.recipe-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.recipe-info {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.5rem; /* recipe-stats와의 간격 조정 */
}

.recipe-info i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: #FF914D;
}

.recipe-stats {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.recipe-stats i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    color: #FF914D;
}
.recipe-stats span {
    font-size: 1rem;
    color: #555;
}

h4 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.navigation-buttons {
    margin-top: 1rem;
    margin-bottom: 1rem; /* author-info와의 간격 */
}

.navigation-buttons button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.author-info {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-top: 1rem;
    background-color: #f9f9f9;
    max-width: 400px; /* 최대 너비 설정 */
    margin-left: auto;
    margin-right: auto;
}

.author-info img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #FF914D;
}

.author-info h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0;
    line-height: 1.2;
    display: flex;
    align-items: center;
    height: 100%;
}
#shareOptions button {
    font-size: 1.2rem;
    margin: 0 0.5rem;
}

.border-danger, .border-primary {
    border-color: #FF914D !important;
}

/* 재료와 양념 리스트 스타일 */
.row[style*="height:30px"] {
    margin-bottom: 0.5rem;
}

.row[style*="height:30px"] span {
    font-size: 0.9rem;
    color: #555;
}