<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/main_layout}">
<head>
   <link rel="stylesheet" type="text/css" th:href="@{/css/recipeList.css}"/>
</head>
<!-- content -->
<div layout:fragment="content">
   <div id="global-content">
       <div class="recipe-header text-center">
           <h2>레시피 리스트</h2>
       </div>

       <form name="searchForm" id="searchForm" action="recipeList"
             class="row justify-content-center my-3">
           <div class="col-auto">
               <select name="type" class="form-select">
                   <option value="board_title">제목</option>
                   <option value="member_id">작성자</option>
                   <option value="food_name">음식이름</option>
               </select>
           </div>
           <div class="col-4">
               <input type="text" name="keyword" class="form-control"/>
           </div>
           <div class="col-auto">
               <input type="submit" value="검 색" class="searchButton"/>
           </div>
       </form>

       <div class="text-end">
           <a th:href="@{recipeWrite}" class="write-button">글쓰기</a>
       </div>

       <div class="recipe-table-wrapper">
           <table class="recipe-table table">
               <thead>
                   <tr class="recipe-table">
                       <th>NO</th>
                       <th class="recipe-name text-center">음식이름</th>
                       <th>작성자</th>
                       <th>작성일</th>
                   </tr>
               </thead>
               <tbody>
                   <th:block th:if="${not #lists.isEmpty(rList)}">
                       <tr th:each="board, status: ${rList}">
                           <td th:text="${board.boardNo}"></td>
                           <td class="recipe-name"><a th:text="${board.foodName}" th:href="@{'/recipeDetail?boardNo=' + ${board.boardNo}}"></a></td>
                           <td th:text="${board.memberId}"></td>
                           <td th:text="${#dates.format(board.regDate, 'yyyy-MM-dd')}"></td>
                       </tr>
                   </th:block>
                   <th:block th:unless="${not #lists.isEmpty(rList)}">
                       <tr>
                           <td colspan="5" class="no-recipes">게시 글이 존재하지 않음</td>
                       </tr>
                   </th:block>
               </tbody>
           </table>
       </div>
   </div>
</div>
</html>