<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/recipeList.css}" />
<link href="css/shop/recipeMain.css" rel="stylesheet">
</head>
<!-- content -->
<div layout:fragment="content">
	<div id="global-content">
		<div class="recipe-header text-center">
			<h2>레시피 리스트</h2>
		</div>

		<form name="searchForm" id="searchForm" action="recipeList"
			class="row justify-content-center my-3">
			<div class="col-auto">
				<select name="type" class="form-select">
					<option value="board_title">제목</option>
					<option value="member_id">작성자</option>
					<option value="board_content">내용</option>
				</select>
			</div>
			<div class="col-4">
				<input type="text" name="keyword" class="form-control" />
			</div>
			<div class="col-auto">
				<input type="submit" value="검 색" class="searchButton" />
			</div>
		</form>
		<th:block th:if="${ searchOption }">
			<div class="row my-3">
				<div class="col text-center">"[[${ keyword }]]" 검색 결과</div>
			</div>
			<div class="row my-3">
				<div class="col-6">
					<a th:href="@{/recipeList}" class="write-button">전체 보기</a>
				</div>
				<th:block
					th:if="${session.member != null and session.member.id != null}">
					<div class="col-6 text-end">
						<a th:href="@{/recipeWrite}" class="write-button">글쓰기</a>
					</div>
				</th:block>
				<th:block
					th:unless="${session.member != null and session.member.id != null}	">
				</th:block>
			</div>
		</th:block>
		<th:block th:unless="${ searchOption }">
			<div class="row my-3">
				<th:block
					th:if="${session.member != null and session.member.id != null}">
					<div class="col-6"></div>
					<div class="col-6 text-end">
						<a th:href="@{/recipeWrite}" class="write-button">글쓰기</a>
					</div>
				</th:block>
				<th:block
					th:unless="${session.member != null and session.member.id != null}">
				</th:block>
			</div>
		</th:block>
		<!-- 페이지 -->
		<div class="row  j-flex align-centent-center " id="productGrid" style="margin-right:1">
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gx-3 gy-3 m-0">
				<!-- Check if recipeList is not null and not empty -->
				<th:block
					th:if="${recipeList != null and not #lists.isEmpty(recipeList)}">
					<!-- Iterate over each recipe in recipeList -->
					<div th:each="recipe : ${recipeList}" class="col">
						<!-- col 밖에 text-center 클래스 추가 -->
						<div class="productBox d-inline-block ">
							<!-- d-inline-block 및 text-center 클래스 추가 -->
							<th:block th:if="${searchOption}">
								<a
									th:href="@{/recipeDetail(boardNo=${recipe.boardNo}, pageNum=${pageNum}, type=${type}, keyword=${keyword})}">
									<!-- Recipe thumbnail with fallback image --> <img
									th:src="${recipe.thumbnail != null and #strings.startsWith(recipe.thumbnail, 'http') ? recipe.thumbnail : './uploads/' + recipe.thumbnail}"
									th:alt="${recipe.boardTitle}"
									style="height: 250px; width: 250px;"
									class="img-fluid  d-block"
									onerror="this.src='http://via.placeholder.com/250x250';">
									     
									<!-- mx-auto 및 d-block 클래스 추가 --> <!-- Recipe title -->
									<div th:text="${recipe.boardTitle}"></div> <!-- Recipe member ID and points -->
									<div th:text="${recipe.memberId} "></div>
									<!-- Recipe registration date -->
									<div class="d-flex align-items-center" th:utext="'<i class=&quot;bi bi-eye-fill&quot;></i>&nbsp;&nbsp;&nbsp;(' + ${recipe.boardView} + 
            ')&nbsp;&nbsp;&nbsp;<i class=&quot;bi bi-star-fill&quot;></i>&nbsp;&nbsp;&nbsp;(' + ${recipe.Apoint} + ')'"></div>
								</a>
							</th:block>
							<th:block th:unless="${searchOption}">
								<a
									th:href="@{/recipeDetail(boardNo=${recipe.boardNo}, pageNum=${pageNum})}">
									<!-- Recipe thumbnail with fallback image --> <img
									th:src="${recipe.thumbnail != null and #strings.startsWith(recipe.thumbnail, 'http') ? recipe.thumbnail : './uploads/' + recipe.thumbnail}"
									th:alt="${recipe.boardTitle}"
									style="height: 250px; width: 250px;"
									class="img-fluid mx-auto d-block"
									onerror="this.src='http://via.placeholder.com/250x250';">
									<!-- mx-auto 및 d-block 클래스 추가 --> <!-- Recipe title -->
									<div th:text="${recipe.boardTitle}"></div> <!-- Recipe member ID and points -->
									<div th:text="${recipe.memberId}"></div>
									<div class="d-flex align-items-center" th:utext="'<i class=&quot;bi bi-eye-fill&quot;></i>&nbsp;&nbsp;&nbsp;(' + ${recipe.boardView} + 
            ')&nbsp;&nbsp;&nbsp;<i class=&quot;bi bi-star-fill&quot;></i>&nbsp;&nbsp;&nbsp;(' + ${recipe.Apoint} + ')'"></div>


 								</a>
							</th:block>
						</div>
					</div>
				</th:block>

			</div>
			<!-- If recipeList is null or empty -->
			<div th:if="${recipeList == null or #lists.isEmpty(recipeList)}"
				class="row my-2">
				<div class="col text-center">
					<h3 class="list-group-item2 my-4" id="falseText">게시글이 존재하지
						않습니다.😅</h3>
				</div>
			</div>
		</div>



		<!-- 기본 검색x 리스트o -->
		<th:block
			th:if="${not searchOption and not #lists.isEmpty(recipeList)}">
			<div class="row">
				<div class="col">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${startPage > pageGroup}"><a
							class="page-link"
							th:href="@{/recipeList(pageNum=${startPage - pageGroup})}">Pre</a></li>
						<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
							<li class="page-item"
								th:classappend="${i == currentPage} ? 'active' : ''"><a
								class="page-link"
								th:href="@{/recipeList(pageNum=${i==0 ? 1 : i})}">[[${i==0 ?
									1 : i}]]</a></li>
						</th:block>
						<li class="page-item" th:if="${endPage < pageCount}"><a
							class="page-link"
							th:href="@{/recipeList(pageNum=${startPage + pageGroup})}">Next</a></li>
					</ul>
				</div>
			</div>
		</th:block>
		<!--검색o 리스트o  -->
		<th:block th:if="${ searchOption and not #lists.isEmpty(recipeList)}">
			<div class="row">
				<div class="col">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${startPage > pageGroup}"><a
							class="page-link"
							th:href="@{/recipeList(pageNum=${startPage - pageGroup},type=${type},keyword=${keyword})}">Pre</a></li>
						<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
							<li class="page-item"
								th:classappend="${i == currentPage} ? 'active' : ''"><a
								class="page-link"
								th:href="@{/recipeList(pageNum=${i==0 ? 1 : i},type=${type},keyword=${keyword})}">[[${i==0
									? 1 : i}]]</a></li>
						</th:block>
						<li class="page-item" th:if="${endPage < pageCount}"><a
							class="page-link"
							th:href="@{/recipeList(pageNum=${startPage + pageGroup},type=${type},keyword=${keyword})}">Next</a></li>
					</ul>
				</div>
			</div>
		</th:block>

		<!-- 검색o 리스트x -->
		<th:block th:if="${ searchOption and  #lists.isEmpty(recipeList)}">
			<div class="row">
				<div class="col">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${startPage > pageGroup}"><a
							class="page-link"
							th:href="@{/recipeList(pageNum=${startPage - pageGroup})}">Pre</a></li>
						<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
							<th:block th:if="${i == currentPage}">
								<li class="page-item active" aria-current="page"><span
									class="page-link">[[${i}]]</span></li>
							</th:block>
							<th:block th:if="${i != currentPage}">
							</th:block>
						</th:block>
						<li class="page-item" th:if="${endPage < pageCount}"><a
							th:href="@{/recipeList(pageNum=${startPage + pageGroup},type=${type},keyword=${keyword}))}">Next</a></li>
					</ul>
				</div>
			</div>
		</th:block>
		<!-- 검색x리스트x -->
		<th:block th:if="${not searchOption and  #lists.isEmpty(recipeList)}">
			<div class="row">
				<div class="col">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${startPage > pageGroup}"><a
							class="page-link"
							th:href="@{/recipeList(pageNum=${startPage - pageGroup})}">Pre</a></li>
						<th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
							<th:block th:if="${i == currentPage}">
								<li class="page-item active" aria-current="page"><span
									class="page-link">[[${i}]]</span></li>
							</th:block>
							<th:block th:if="${i != currentPage}">
							</th:block>
						</th:block>
						<li class="page-item" th:if="${endPage < pageCount}"><a
							th:href="@{/recipeList(pageNum=${startPage + pageGroup})}">Next</a></li>
					</ul>
				</div>
			</div>
		</th:block>
	</div>
</html>