<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout}">

<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .preview {
            max-width: 200px;
            max-height: 200px;
            margin-top: 10px;
            display: none;
        }
    </style>
      <script src="js/recipe/recipeWrite.js"></script>
      <script src="js/recipe/recipeWriteFormCheck.js"></script>
</head>

<body>
    <!-- content -->
    <div layout:fragment="content" class="container">
        <form th:action="@{recipeWriteProcess}" method="post" id="recipeWriteForm" enctype="multipart/form-data">
        <input type="hidden" id="memberId" name="memberId" th:value="${session.member.id}">
            <div class="row">
                <div class="col text-center">
                    <h1 class="my-4">레시피 등록</h1>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4 mb-3">
                    <label for="boardTitle" class="form-label">레시피 제목</label>
                    <input type="text" class="form-control" id="boardTitle" name="boardTitle">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="boardContent" class="form-label">레시피 소개</label>
                    <textarea class="form-control" id="boardContent" name="boardContent" rows="2"></textarea>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-6 mb-3">
                    <label for="foodGenre" class="form-label">카테고리</label>
                    <select class="form-select" id="foodGenre" name="foodGenre">
                        <option th:value="한식">한식</option>
                        <option th:value="일식">일식</option>
                        <option th:value="중식">중식</option>
                        <option th:value="양식">양식</option>
                        <option th:value="기타">기타</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="thumbnailname" class="form-label">대표사진</label>
                    <input type="file" class="form-control" id="thumbnailname" name="thumbnailname">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-6 mb-3">
                    <label for="numberEaters" class="form-label">요리 정보</label>
                    <div class="input-group">
                        <span class="input-group-text">인원</span>
                        <input type="number" class="form-control" id="numberEaters" name="numberEaters">
                        <span class="input-group-text">명</span>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="foodTime" class="form-label">시간</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="foodTime" name="foodTime">
                        <span class="input-group-text">분 이하</span>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <h2>재료등록</h2>
                </div>
            </div>
            <div class="row mt-2 cookMaterialSession" id="material">
            <div class="row mt-2" id="materialRow0">
                <div class="col">재료이름</div>
                <div class="col">
                    <input type="text" class="form-control" id="material0.materialName" name="materialNames">
                </div>
                <div class="col">재료 양</div>
                <div class="col">
                    <input type="text" class="form-control" id="material0.mensuration" name="mensurations">
                </div>
                <div class="col-3">
                    <select class="form-select" id="material0.typeMaterial" name="typeMaterials">
                        <option value="재료">재료</option>
                        <option value="조미료">조미료</option>
                    </select>
                </div>
                <div class="col">
                    <input type="button" class="btn btn-danger deleteMaterial" data-materialindex="0" value="재료삭제">
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="button" class="btn btn-primary" id="addMaterial" data-materialindex="1" value="재료추가">
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <h2>조리과정등록</h2>
                </div>
            </div>
            <div class="row my-2 cooking-item cookingSection" >
            </div>
            <div class="row">
                <div class="col">
                    <input type="button" class="btn btn-primary" id="addCooking" data-cookingindex="0" value="조리과정추가">
                </div>
            </div>
            <div class="row my-2">
            	<input class="btn btn-primary" type="button" value="목록보기" 
							th:onclick="@{|location.href='recipeList?pageNum=${pageNum}'|}"/>
                <div class="col text-end">
                    <button type="submit" class="btn btn-primary">등록하기</button>
                </div>
            </div>
        </form>
    </div>

    <!-- JavaScript 파일 로드 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</body>

</html>
